<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../nuevo-usuario/nuevo-usuario.html">

<dom-module id="iron-index">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="src/custom.css">
    <style>
      :host {
        display: block;
      /*  all:initial;*/
      }
    </style>
    <div class="jumbotron">
      <h1>BBVA</h1>
    </div>
    <!--input type="text" value="{{componentName::input}}"></input>-->
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="login-usuario">
        <!--<login-usuario id="{{id}}"></login-usuario>-->
        <login-usuario on-login="backLogin" on-nuevousuario="nuevousuario"></login-usuario>
      </div>
      <div component-name="nuevo-usuario">
        <nuevo-usuario id="usuario" on-createduser="createdUser"></nuevo-usuario>
      </div>
      <div component-name="visor-cuentas">
        <!--<visor-cuentas id="{{id}}"></visor-cuentas>-->
        <visor-cuentas id="cuentas" on-logout="logout" on-vermovimientos="getMovements" on-posicionglobal="posicionglobal"></visor-cuentas>
      </div>
      <div component-name="visor-movimientos">
        <visor-movimientos id="movimientos" on-posicionglobal="posicionglobal"></visor-movimientos>
      </div>
    </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class IronIndex extends Polymer.Element {
      static get is() { return 'iron-index'; }
      static get properties() {
        return {
          componentName: {
            type: String,
            value: "login-usuario"
          }
        };
      }
      backLogin(e){
        console.log("eventos de login");
        console.log(e.detail);
        console.log(e.detail.userId);
        this.$.cuentas.id = e.detail.userId;
        this.$.cuentas.firstname = e.detail.first_name;
        this.$.cuentas.lastname = e.detail.last_name;
        this.componentName = "visor-cuentas";
      }
      nuevousuario(e){
        console.log("eventos de nuevousuario");
        console.log(e);
        this.componentName = "nuevo-usuario";
      }
      createdUser(e){
        console.log("eventos de login");
        console.log(e);
        this.componentName = "login-usuario";
      }
      posicionglobal(data){
        console.log("eventos de posicionglobal");
        console.log(data.detail.userId);
        this.$.cuentas.id = 0;
        this.componentName = "visor-cuentas";
        this.$.cuentas.id = data.detail.userId;
        this.componentName = "visor-cuentas";
      }
      logout(e){
        console.log("eventos de logout");
        this.componentName = "login-usuario";
      }
      getMovements(e){
        console.log("eventos de visor cuentas");
        console.log(e);
        console.log(e.detail);
        this.$.movimientos.id = 0;
        this.$.movimientos.account = "";
        this.componentName = "visor-movimientos";
        this.$.movimientos.id = e.detail.userId;
        this.$.movimientos.account = e.detail.iban;
        this.componentName = "visor-movimientos";
      }
    }

    window.customElements.define(IronIndex.is, IronIndex);
  </script>
</dom-module>
