<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy [[first_name]] [[last_name]]!</h2>
    <h2>Tengo [[age]] años!</h2>
    <input type="text" value="{{last_name::input}}"/>
    <input type="range" min="18" max="99" value="{{age::input}}"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'pruebas'
          },
          first_name: {
            type: String,
            value: 'Pepito'
          },
          last_name: {
            type: String,
            value: 'Perez'
          },
          age: {
            type: Number,
            value: 24
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
