<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      /*  all:initial;*/
      }
    </style>
    <div class="form-signin">
      <input placeholder="Email" class="form-control" type="email" value="{{email::input}}"/>
      </br>
      <input placeholder="Contraseña" class="form-control" type="password" value="{{password::input}}"/>
      </br></br>
      <button on-click="login" class="btn btn-lg btn-primary btn-block">Login</button>
      </br></br>
      <button on-click="newUser" class="btn btn-lg btn-primary btn-block">Nuevo usuario</button>
      </br></br>
      <span hidden$="{{!errorLogin}}" class="text-center mt-5 mb-3 text-muted">Los datos introducidos no son correctos, inténtelo de nuevo</span>
    </div>

    <iron-ajax id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    handle-as="json" on-response="manageAjaxResponse"
    on-error="showError"
    content-type="application/json"
    method="POST"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          firstname: {
            type: String
          },
          lastname: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          },
          errorLogin: {
            type: Boolean,
            value: false
          }
        };
      }

      showError(data){
        console.log("showError");
        console.log(data);
        this.errorLogin = true;
      }

      newUser(data){
        console.log("newUser");
        console.log(data.detail);

        this.dispatchEvent(
            new CustomEvent (
              "nuevousuario",
              {
                "detail" : data.detail
              }
            )
        );
      }

      manageAjaxResponse(data){
        console.log("manageAjaxResponse");
        console.log(data.detail.response);
        if(data.detail.response.userId != null){
          this.dispatchEvent(
              new CustomEvent (
                "login",
                {
                  "detail" : data.detail.response
                }
              )
          );
        } else {
          this.errorLogin = true;
        }
      }

      login(){
        console.log("login");
        console.log("login"+this.id);

        var loginData = {
          "email" : this.email,
          "password" : this.password
        }
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");

      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
