<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import"
href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="visor-movimientos">
  <template>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="src/custom.css">
    <style>
      :host {
        display: block;
      /*  all:initial;*/
      }
    </style>
    <div>
      <div class="col-sm-12 col-md-12 col-lg-12"><h3>Sus movimientos en esta cuenta son los siguientes</h3></div>
      </br></br>
      <template is="dom-repeat" items="{{movements}}">
        <div class="col-sm-12 col-md-12 col-lg-12"><p class="lead">El concepto [[item.concept]] ha tenido el movimiento: [[item.movement]]{{badge}}</p></div>
        </br>
      </template>
      <input type="text" id="concept" class="form-control" placeholder="Concepto"></input>
      </br>
      <input type="text" id="movement" class="form-control" placeholder="Cantidad"></input>
      </br></br>
      <div class="col-sm-12 col-md-12 col-lg-12"><button class="floatright btn btn-lg btn-primary" on-click="postMovement" >Añadir movimiento</button></div>
      </br></br></br></br>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <button class="floatright btn btn-sm btn-primary" on-click="posicionglobal" >Ir a mi posición global</button>
      </div>
    </div>
    <!--<input type="text" value="{{id::input}}"/>-->

    <iron-ajax auto id="getMovements" method="GET"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/{{account}}/movements"
    handle-as="json" on-response="showData"/>

    <iron-ajax id="newMovement" method="POST"
    url="http://localhost:3000/apitechu/v2/movement" content-type="application/json"
    handle-as="json" on-response="showNewMovement"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userId: {
            type: String
          },
          id: {
            type: String
          },
          balance: {
            type: Number
          },
          movements: {
            type: Array
          },
          age: {
            type: Number,
            value: 67
          },
          iban: {
            type: String
          },
          _id: {
            type: String
          },
          account: {
            type: String
          },
          badge: {
            type: String
          }
        };
      }
      showData(data){
        console.log("show data");
        console.log(data);
        console.log(data.detail);
        console.log(data.detail.response[0]);
        if(data.detail.response[0] != null){
          this.badge = data.detail.response[0].badge;
          this.movements = data.detail.response[0].movements;
        }
      /*  this.iban = data.detail.response[0].iban;
        this.userId = data.detail.response[0].userId;
        this.balance = data.detail.response[0].balance;*/

      }
      postMovement(e){
        console.log("postMovement");

        var newMovement = {
            "id" : this.id,
            "account" : this.account,
            "concept" : this.$.concept.value,
            "movement" : this.$.movement.value
        };
        this.$.newMovement.body = JSON.stringify(newMovement);
        console.log("body" + this.$.newMovement.body);
        this.$.newMovement.generateRequest();
        console.log("Petición enviada");
      }
      idmongo(data){
        console.log("idmongo");
        console.log(data.path[0].id);
      }
      showNewMovement(data){
        console.log("showNewMovement");
        var response = {
            "userId" : this.id
        };
        console.log(this.id);
        this.dispatchEvent(
            new CustomEvent (
              "posicionglobal",
              {
                "detail" : response
              }
            )
        );
      }
      posicionglobal(data){
        console.log("posicionglobal");
        var response = {
            "userId" : this.id
        };
        console.log(this.id);
        this.dispatchEvent(
            new CustomEvent (
              "posicionglobal",
              {
                "detail" : response
              }
            )
        );
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);

  </script>
</dom-module>
