<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      /*  all:initial;*/
      }
    </style>
    <span>Este curso es [[course]]</span>
    <span>y estamos en el año [[year]]</span>
    <input type="text" value="{{course::input}}" />
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          year: {
            type: Number
          },
          course: {
            type: String,
            observer : '_courseChanged'
          }
        };
      }
      _courseChanged(newValue, oldValue){
        console.log("Course value has changed");
        console.log("Old value was "+oldValue);
        console.log("New value is "+newValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
