<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="src/custom.css">
    <style>
      :host {
        display: block;
      /*  all:initial;*/
      }

    </style>
    <div>
      <div class="col-sm-12 col-md-12 col-lg-12"><h2>{{firstname}} {{lastname}} <button class="floatright btn btn-sm btn-primary" on-click="logout">Cerrar sesión</button></h2></div>
      </br>
      <div class="col-sm-12 col-md-12 col-lg-12"><h3>El balance total es: {{balanceTotal}}{{badge}} <button class="floatright btn btn-sm btn-primary" id="{{badge}}" value="{{balanceTotal}}" on-click="convertirDivisa">Convertir divisa</button></h3></div>
      </br>
      <div class="col-sm-12 col-md-12 col-lg-12" hidden$="{{!mostrarDivisa}}"><h3>Su balance convertido es: {{cantidadConvertida}}{{divisaConvertida}}</h3></div>
      </br>
      <template is="dom-repeat" items="{{accounts}}">
        <!--<h3>Mi userId es [[item.userId]]!</h3>-->
        <div class="col-sm-12 col-md-12 col-lg-12"><p class="lead">Su iban es [[item.iban]], su balance es [[item.balance]][[item.badge]] <button id="[[item.iban]]" class="floatright btn btn-sm btn-primary" value="[[item.userId]]" on-click="verMovimientos" >Ver movimientos</button></p></div>
        <!--<button id="[[item._id.$oid]]" on-click="idmongo" >[[item._id.$oid]]</button>-->
        </br>
      </template>
      </br>
      <div class="col-sm-12 col-md-12 col-lg-12"><button id="[[item.iban]]" value="[[item.userId]]" on-click="postAccount" class="floatright btn btn-sm btn-primary">Añadir nueva cuenta</button></div>
      </br>
    </div>
    <!--<input type="text" value="{{id::input}}"/>-->

    <iron-ajax auto id="getAccounts"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
    handle-as="json" on-response="showData" debounce-duration="300"/>

    <iron-ajax id="newAccount" method="POST"
    url="http://localhost:3000/apitechu/v2/account" content-type="application/json"
    handle-as="json" on-response="showNewAccount"/>

    <iron-ajax id="badgeConvert"
    url="http://localhost:3000/apitechu/v2/conversion/{{badge}}/{{balanceTotal}}"
    handle-as="json" on-response="conversionresponse"
    content-type="application/json" method="GET"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          firstname: {
            type: String,
            value: "Estimado"
          },
          lastname: {
            type: String,
            value: "cliente"
          },
          badge: {
            type: String
          },
          userId: {
            type: String
          },
          id: {
            type: String
          },
          balance: {
            type: Number
          },
          balanceTotal: {
            type: Number
          },
          accounts: {
            type: Array
          },
          age: {
            type: Number,
            value: 67
          },
          iban: {
            type: String
          },
          _id: {
            type: String
          },
          mostrarDivisa:{
            type: Boolean,
            value: false
          },
          cantidadConvertida:{
            type: Number
          },
          divisaConvertida:{
            type: String
          }
        };
      }
      showData(data){
        console.log("show data");
        console.log(data);
        console.log(data.detail);
        console.log(data.detail.response);
        if(data.detail.response != null){
          var balanceTotal = 0;
          var badge = "";
          this.accounts = data.detail.response;
          var accounts = this.accounts;
          for (let account of accounts) {
            console.log(account.balance);
            balanceTotal += account.balance;
            badge = account.badge;
          }
          console.log(balanceTotal);
          this.badge = badge;
          this.balanceTotal = balanceTotal;
        }
      /*  this.iban = data.detail.response[0].iban;
        this.userId = data.detail.response[0].userId;
        this.balance = data.detail.response[0].balance;*/

      }
      conversionresponse(data){
        console.log("conversionresponse");
        console.log(data.detail.response.amount);
        if(data.detail.response.amount>0){
          this.cantidadConvertida = data.detail.response.amount;
          if(this.badge == "$"){
            this.divisaConvertida = "€";
          } else {
            this.divisaConvertida = "$";
          }
          this.mostrarDivisa = true;
        }
      }
      showNewAccount(data){
        console.log("showNewAccount");
        console.log(data.detail.response.userId);

        var response = {
            "userId" : this.id
        };
        this.dispatchEvent(
            new CustomEvent (
              "posicionglobal",
              {
                "detail" : response
              }
            )
        );
      }
      logout(data){
        console.log("logout");
        console.log(data);

        this.dispatchEvent(
            new CustomEvent (
              "logout",
              {
                "detail" : data
              }
            )
        );
      }
      convertirDivisa(data){
        console.log("convertirDivisa");
        console.log(data.path[0].id);
        console.log(data.path[0].value);
        var badgeConvert = {
            "amount" : data.path[0].value,
            "badge" : data.path[0].id
        };
        this.$.badgeConvert.body = JSON.stringify(badgeConvert);
        console.log("body" + this.$.badgeConvert.body);
        this.$.badgeConvert.generateRequest();
        console.log("Petición enviada");
      }
      postAccount(e){
        console.log("postAccount");
        var iban = "ES22 0182 "+parseInt((Math.random() * 9999))+" "
        +parseInt((Math.random() * 9999))+" "+parseInt((Math.random() * 9999))+" "
        +parseInt((Math.random() * 9999))+" "+parseInt((Math.random() * 9999))+" "
        +parseInt((Math.random() * 9999));

        console.log(iban);

        var newAccount = {
            "userId" : this.id,
            "iban" : iban
        };
        this.$.newAccount.body = JSON.stringify(newAccount);
        console.log("body" + this.$.newAccount.body);
        this.$.newAccount.generateRequest();
        console.log("Petición enviada");
      }

      verMovimientos(data){
        console.log("verMovimientos");
        console.log(data.path[0].id);
        console.log(data.path[0].value);

        this.dispatchEvent(
            new CustomEvent (
              "vermovimientos",
              {
                "detail" : {
                  "iban" : data.path[0].id,
                  "userId" : data.path[0].value
                }
              }
            )
        );
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);

  </script>
</dom-module>
