<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="nuevo-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="src/custom.css">
    <style>
      :host {
        display: block;
      /*  all:initial;*/
      }
    </style>
    <div class="form-signin">
      <input placeholder="Nombre" class="form-control" value="{{firstname::input}}"/>
      </br>
      <input placeholder="Apellidos" class="form-control" value="{{lastname::input}}"/>
      </br>
      <input placeholder="NIE/NIF" class="form-control" value="{{dni::input}}"/>
      </br>
      <input placeholder="Email" class="form-control" type="email" value="{{email::input}}"/>
      </br>
      <input placeholder="Contraseña" class="form-control" type="password" value="{{password::input}}"/>
      </br></br>
      <button on-click="create" class="btn btn-lg btn-primary btn-block">Crear</button>
      </br></br>
      <button on-click="back" class="btn btn-lg btn-primary btn-block">Volver</button>
    </div>

    <iron-ajax id="createUser"
    method="POST"
    url="http://localhost:3000/apitechu/v2/users"
    handle-as="json" on-response="manageAjaxResponse"
    on-error="showError"
    content-type="application/json"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          firstname: {
            type: String
          },
          lastname: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          dni: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          }
        };
      }

      showError(data){
        console.log("showError");
        console.log(data);
      }
      back(data){
        console.log("back");
        console.log(data.detail.response);

       this.dispatchEvent(
            new CustomEvent (
              "createduser",
              {
                "detail" : data.detail.response
              }
            )
        );
      }
      manageAjaxResponse(data){
        console.log("manageAjaxResponse");
        console.log(data.detail.response);

       this.dispatchEvent(
            new CustomEvent (
              "createduser",
              {
                "detail" : data.detail.response
              }
            )
        );
      }

      create(){
        console.log("create");

        var createUser = {
          "id" : this.dni,
          "first_name" : this.firstname,
          "last_name" : this.lastname,
          "email" : this.email,
          "password" : this.password
        }
        console.log(createUser);
        this.$.createUser.body = JSON.stringify(createUser);
        this.$.createUser.generateRequest();
        console.log("Peticion enviada");

      }
    }

    window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
